.ds-preloader-demo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
  background-image: url("/images/bg-main-section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  > .ds-modal-button {
    margin: 0.25rem;
  }
}
