section.ds-preloader-demo-content
  img(src="./images/image-demo-1.jpg").ds-preloader-demo-image
  img(src="./images/image-demo-2.jpg").ds-preloader-demo-image
  img(src="./images/image-demo-3.jpg").ds-preloader-demo-image
  img(src="./images/image-demo-4.jpg").ds-preloader-demo-image
  img(src="./images/image-demo-5.jpg").ds-preloader-demo-image
  img(src="./images/image-demo-6.jpg").ds-preloader-demo-image
