.ds-preloader-body {
  overflow: hidden;

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 99998;
  }
}

.ds-preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383e9f;
  z-index: 99999;
  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
}

.ds-preloader-counter {
  font-family: arial, helvetica, serif;
  font-weight: bold;
  font-size: 0;
  color: #ffffff;
}

.ds-preloader-open {
  animation: dsPrOpen 1s ease-in-out 1;
  animation-fill-mode: forwards;

  .ds-preloader-counter {
    animation: dsPrCtShow 300ms ease-in-out 1;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
  }
}

.ds-preloader-close {
  width: 100%;
  height: 100%;
  animation: dsPrClose 500ms ease-in-out 1;
  animation-delay: 300ms;
  animation-fill-mode: forwards;

  .ds-preloader-counter {
    animation: dsPrCtHide 300ms ease-in-out 1;
    animation-fill-mode: forwards;
  }
}

@keyframes dsPrOpen {
  0% {
    width: 0;
    height: 0.25rem;
  }
  50% {
    width: 100%;
    height: 0.25rem;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes dsPrClose {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0;
  }
}

@keyframes dsPrCtShow {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 6.25rem;
  }
}


@keyframes dsPrCtHide {
  0% {
    font-size: 6.25rem;
  }
  100% {
    font-size: 0;
  }
}

